.main {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    box-sizing: border-box;
    background-color: #757474;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 800;
}

